@{
    ViewData["Title"] = "Download";
}

<h1>Download Section</h1>
<p>You can download my resume and other relevant documents here:</p>
<ul>
    <li><a href="C:\Users\sanika2110\Downloads\Sanika_Resume.pdf" download>Download Resume (PDF)</a></li>
</ul>
