@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to My Portfolio</h1>
<p>My name is Sanika Ghade. This is a brief overview of my portfolio.</p>
<p>Motivated Computer Science graduate pursuing a Master’s degree with a strong foundation in data structures, algorithms, and software development. Currently participating in a prestigious campus connect program, eager to apply academic knowledge to real-world challenges and contribute to impactful projects.</p>
