@{
    ViewData["Title"] = "Tech Skills";
}

<h1>Tech Skills</h1>
<p>Here are the technologies and tools I am proficient in:</p>
<ul>
    <li>Languages: C, Java, SQL, HTML, JavaScript, Python</li>
    <li>Technologies: MySQL, PostgreSQL, PHP, Bootstrap</li>
</ul>
